doctype html
html
  head
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="apple-mobile-web-app-title" content="Fleet Tracker")
    meta(name="application-name" content="Fleet Tracker")
    meta(name="msapplication-TileColor" content="#2d89ef")
    meta(name="theme-color" content="#97a7b5")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://www.locationbox.com.tr/locationbox/services?Key=#{key}&Cmd=API&Typ=JS")
    script(src="/javascripts/app.js")
    script(src="/javascripts/mapApp.js")

  body
    .header#header
      ul
        li
          .container(onclick="nav(this)")
            .bar1
            .bar2
            .bar3
        li  
          .logo
            a(href="#")
              img(src="/images/logo.png")
        li#searchli
          .searchbar
              input(type="text",
                    name="search",
                    placeholder="Search..")

  .sidenav#sidenav
    a(href="#") Map Options
    .dropmap
      button#cars Show Cars
      button#traffic Show Traffic
      button#weather Show Weather
    a(href="#") Routes
    .droproutes
      button(class="newroute")
    a(href="#") New Route

  .main#main
    .container#container
      .map#map