doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://www.locationbox.com.tr/locationbox/services?Key=#{key}&Cmd=API&Typ=JS")
    script(src="/javascripts/app.js" type="module")
  body
    .header#header
      ul
        li
          .container(onclick="nav(this)")
            .bar1
            .bar2
            .bar3
        li  
          .logo
            a(href="#")
              img(src="/images/logo.png")
        li
          .searchbar
              input(type="text",
                    name="search",
                    placeholder="Search..")

  .sidenav#sidenav
    button(class="mapops")
      a(href="#") Map Options
      i(class="fa-caret-down")
    .dropmap
      button Show Cars
      button Show Traffic
      button Show Weather
    button(class="routes")
      a(href="#") Routes
      i(class="fa-caret-down")
    .droproutes
    button(class="newroute")
      a(href="#") New Route
      i(class="fa-caret-down")
    .dropnew

  .main#main
    .container#container
      .map#map