doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://www.locationbox.com.tr/locationbox/services?Key=#{key}&Cmd=API&Typ=JS")
    script(src="/javascripts/app.js")
  body
    // html'de kullanıdığın her şeyi burda da kullanabilirsin
    // ancak python stili whitespaceli notation var