body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

/* Menu bar animation*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color:white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: -1; /* Stay on bottom */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 160px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav button:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  width: 100%;
  height: 600px;
  transition: margin-left .5s;
  padding: 0px;
  float: right
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header {
  z-index: 1; 
  background-color: #111;
  height: 10%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo a img{
  width: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
  margin-left: 10px
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

button{
  border: none;
  background: none;
  outline: none;
  text-decoration: none;

}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

.container, .map {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -123456789;
}

.dropmap, .droproutes, .dropnew{
  display: none;
  background-color: #333;
  padding-left: 8px;
}


input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/images/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-top: 15px;
}


/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

 #searchli, .searchbar {
   width: 80%
 }